.output-container {
    flex: 1;
    height: 100%;
    padding: 15px;
    background-color: #26292c;
    color: white;
    font-family: monospace;
    overflow: auto;
    font-size: large;
}

.output-container div {
    padding: 4px 0;
}

.console {
    overflow-y: auto;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.input-bar {
    font-size: large;
    position: absolute;
    bottom: 15px;
    color: white;
    font-family: monospace;
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 2px #18191b;
    transition: background-color 0.15s ease;
}