.ace_editor {
    flex: 1;
    height: 100%;
}

.divider {
    width: 5px;
    height: 100%;
    background-color: #393d41;
    cursor: col-resize;
    transition: background-color 0.1s ease;
}

.divider:hover {
    background-color: #404549;
    transition: background-color 0.1s ease;
}

.divider:active {
    background-color: #4b5257;
    transition: background-color 0.1s ease;
}