.header {
    padding: 10px;
    background-color: #151618;
    border-bottom: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.logo {
    float: left;
    display: flex;
    color: #dddddd;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    background-color: #1f2124;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem #0e0e0e;
}

.icon-button {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    margin-left: 6px;
    margin-right: 6px;
    padding: 0px 15px;
    box-shadow: 2px 2px 2px 2px rgba(12, 12, 12, 0.3);
}

.icon-button p {
    margin-left: 10px;
}

.run-button {
    width: 100px;
    background-color: #119955;
}

.run-button:hover {
    background-color: #05904a;
}

.stop-button {
    width: 100px;
    background-color: #992222;
}

.stop-button:hover {
    background-color: #891212;
}

.load-example-button {
    background-color: #a17900;
}

.load-example-button:hover {
    background-color: #916700;
}

.about-button {
    background-color: #225599;
}

.about-button:hover {
    background-color: #1b4677;
}

.github-button {
    background-color: #552277;
}

.github-button:hover {
    background-color: #461e5d;
}